@font-face {
  font-family: "HangingLetters";

  src: url("../fonts/HangingLetters.woff") format("woff"),
    url("../fonts/HangingLetters.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "KindlyJasmine";

  src: url("../fonts/KindlyJasmine.woff") format("woff"),
    url("../fonts/KindlyJasmine.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  margin: 0;

  background-color: #f1f1f1;

  font-family: "KindlyJasmine", arial;
  font-size: 36px;
  font-weight: 400;
  color: rgb(83, 20, 20);
  line-height: 2;
}

button, input, textarea, select {
  font: inherit;
  color: inherit;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;

  border: 3px solid rgb(49, 5, 5);
}

fieldset {
  border: none;
}

button {
  border: none;
  background-color: transparent;
  line-height: 1;

  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  color: rgb(202, 144, 144);
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, strong, fieldset {
  padding: 0;
  margin: 0;
}

.btn {
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid rgb(83, 20, 20);

  line-height: 1;
  padding: 10px;
}

.btn:hover,
.btn:focus {
  color: rgb(202, 144, 144);
  background-color: rgba(83, 20, 20, 0.3);
  border-color: rgba(83, 20, 20, 0.3);
}

.slick-btn.slick-prev:focus,
.slick-btn.slick-next:focus {
  outline: #fff;
}

/* visually-hidden */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* send__form */
.send__form {
  resize: none;
  width: 100%;
  padding: 15px;

  border-radius: 12px;
  line-height: 1;
}

/* container */
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;

  text-align: center;
}

/* section__title */
.section__title {
  margin-bottom: 20px;

  font-size: 55px;
}

/* header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: #fff;

  font-family: 'HangingLetters', sans-serif;
  font-size: 24px;
  line-height: 1;
}

.nav__list {
  display: flex;
}

.nav__list-item + .nav__list-item {
  margin-left: 25px;
}

.nav__list-link:focus {
  outline: none;
}

.nav__list-link:active {
  box-shadow: 0px 5px 10px 0px rgba(44, 2, 2, 0.5);
}

.nav__list-link svg {
  height: 20px;
  width: 40px;
}

.nav__list-link:hover path,
.nav__list-link:focus path {
  fill:  rgb(202, 144, 144);
}

/* burger */
.burger {
  width: 40px;
  padding: 10px 0;

  position: absolute;
  right: 15px;
  z-index: 1;

  border: 0;
  background: none;
  outline: none;
}

.burger__item {
  display: none;
  width: 100%;
  height: 3px;
  background-color: rgb(83, 20, 20);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  cursor: pointer;

  font-size: 0;
  color: transparent;

  transition: background .2s linear;
}

.burger.active .burger__item {
  background: none;
}

.burger__item:before,
.burger__item:after {
  content: "";
  width: 100%;
  height: 3px;

  background-color: rgb(83, 20, 20);

  position: absolute;
  left: 0;
  z-index: 1;

  transition: transform .2s linear;
}

.burger__item:before {
  top: -10px;
}

.burger__item:after {
  bottom: -10px;
}

.burger.active .burger__item:before {
  transform-origin: left top;
  transform: rotate(45deg) translateX(-5px);
}

.burger.active .burger__item:after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translateX(-5px);
}

/* hero */
.hero {
  background: url('../img/IMG_1167.JPG') top center no-repeat;
  min-height: 100vh;
  background-size: cover;
  padding-top: 10px;
  margin-bottom: 65px;
}

.hero__wrapper {
  background: rgba(150, 136, 149, 0.459);
  width: 100%;
  min-height: 100vh;
  padding-bottom: 100px;
}

.hero__title {
  font-size: 250px;
  line-height: 1.5;
}

.hero__text {
  font-size: 100px;
  line-height: 1;
}

.hero__date {
  font-size: 80px;
  line-height: 1;
}

/* video */
.video {
  margin-bottom: 65px;
}

.video__frame {
  min-height: 75vh;
  width: 90%;
}

/* info */
.info {
  margin-bottom: 65px;
}

.info__text {
  margin-bottom: 25px;
  padding: 0 90px;

  line-height: 1;
}

.info__form {
  margin-bottom: 50px;
}

#spb, #perm {
  display: none;
}

.info__select {
  padding: 5px;
  background-color: rgba(83, 20, 20, 0.1);

  border-radius: 12px;
  border-color: rgb(83, 20, 20);
  z-index: 100;
  vertical-align: center;
  text-align-last: center;
}

.info__select > option:hover {
  background-color: rgba(83, 20, 20, 0.3);
}

.info__list,
.info__check  {
  margin: 0 auto;

  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 5px rgba(44, 2, 2, 0.5);
  font-style: normal;
}

.info__list-item {
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.info__point {
  width: 20%;
  display: block;
  text-align: right;
}

.info__wrap {
  width: 70%;
}

.info__data {
  font-style: normal;
}

.info__subtitle {
  margin-top: 50px;
  margin-bottom: 25px;
}

.info__check {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  text-align: center;
}

.info__check-item {
  position: relative;
  padding-left: 30px;
  background: url('../img/check.svg') left center no-repeat;
  background-size: 25px 25px;
}

.info__check-item::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  border: 1px solid rgb(83, 20, 20);
}

/* ask */
.ask {
  margin-bottom: 65px;
}

.ask__form {
  max-width: 70%;
  margin: 0 auto;

  line-height: 1.5;
}

.ask__point {
  margin-bottom: 50px;
}

.ask__input {
  display: block;
  margin: 0 auto 50px;
  padding: 15px;
  min-width: 50%;

  border-radius: 12px;
  border: 1px solid rgb(83, 20, 20);

  line-height: 1;
}

.ask__hidden {
  display: none;
}

/* contacts */
.contacts {
  margin-bottom: 65px;
}

.contacts__link {
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

/* photos */
.photos {
  margin-bottom: 65px;
}

.slick-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;

  border: none;
  background-color: transparent;
}

.photos__inner {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.photos__slider {
  margin: 0 auto;
}

.slider__img > img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  object-position: center;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

/* regrets */
.regrets {
  margin-bottom: 65px;
}

.regrets__form {
  margin: 0 auto;
  max-width: 70%;
}

/* footer */
.footer {
  padding: 25px;
  background: url('../img/heart.png') no-repeat  rgba(150, 136, 149, 0.459);
  background-size: cover;
}

.footer__text {
  margin-bottom: 25px;

  font-size: 36px;
  font-weight: 400;
  line-height: 1;
}

.footer__inner {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.footer__link {
  display: block;
  line-height: 1.5;
}

.footer__copy {
  font-size: 24px;
}

@media (max-width: 1366px) {

  .hero__title {
    padding-top: 60px;
    line-height: 1;
  }
}

@media (max-width: 1151px) {
  .header {
    font-size: 20px;
  }

  .hero__title {
    font-size: 200px;
  }

  .photos__inner {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .burger__item {
    display: block;
  }

  .header {
    min-height: 50px;
  }

  .nav {
    width: 100%;
    height: auto;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0px 5px 10px fade(#000, 24%);
    text-align: center;

    display: none;
  }

  .nav.show {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }

  .nav__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    font-family: "KindlyJasmine", arial;
    font-size: 30px;
  }

  .nav__list-item {
    width: 100%;
    margin: 5px 0;
  }

  .nav__list-item + .nav__list-item {
    margin-left: 0;
  }

  .nav__list-link {
    display: block;
    width: 100%;
  }

  .hero__title {
    font-size: 150px;
    padding-top: 50px;
  }

  .hero__text {
    font-size: 70px;
  }

  .hero__date {
    font-size: 50px;
  }

  .contacts__link {
    width: 50%;
  }
}


@media (max-width: 767px) {
  .hero__title {
    font-size: 120px;
    padding-top: 150px;
  }

  .hero__text {
    font-size: 50px;
  }

  .hero__date {
    font-size: 50px;
  }

  .video__frame {
    width: 100%;
  }

  .info__text {
    padding: 0 5px;
  }

  .ask__input {
    min-width: 80%;
  }

  .ask__form,
  .regrets__form {
    max-width: 100%;
  }
}

@media (max-width: 567px) {
  .hero__title {
    font-size: 100px;
    padding-top: 250px;
    margin-bottom: 30px;
  }

  .hero__text {
    font-size: 60px;
  }

  .hero__date {
    font-size: 40px;
  }

  section {
    margin-bottom: 25px !important;
  }

  .section__title {
    line-height: 1.5;
  }

  .video__frame {
    height: 50vh;
  }

  .info__form {
    margin-bottom: 10px;
  }

  .info__subtitle {
    margin-top: 25px;
  }

  .info__check {
    justify-content: space-between;
    text-align: left;
    line-height: 1;
  }

  .info__check-item {
    margin: 5px;
  }

  .info__list {
    line-height: 1.3;
  }

  .contacts__link {
    width: 100%;
  }

  .ask__form {
    line-height: 1.2;
  }

  .slider__img > img {
    height: auto;
  }

  .photo__text {
    line-height: 1.2;
  }

  .footer__inner {
    flex-wrap: wrap;
  }

}

@media (max-width: 440px) {
  .container {
    line-height: 1 !important;
  }

  .hero {
    min-height: 90vh;
  }

  .hero__wrapper {
    min-height: 90vh;
  }

  .hero__title {
    font-size: 65px;
    padding-top: 220px;
    margin-bottom: 30px;
  }

  .hero__text {
    font-size: 40px;
  }

  .hero__date {
    font-size: 30px;
  }

  .video__frame {
    min-height: 30vh;
  }

  .section__title {
    font-size: 45px;
    line-height: 1.2;
  }

  .info__select {
    max-width: 50%;
    margin-bottom: 25px;
  }

  .info__point {
    width: 100%;
    margin-bottom: 15px;

    text-align: center;
    border-bottom: 1px solid rgb(83, 20, 20);
  }

  .info__list-item {
    flex-wrap: wrap;
    padding: 15px;
  }

  .info__wrap {
    width: 100%;
  }

  input::placeholder {
    font-size: 24px;
  }

  .ask__point {
    margin-bottom: 20px;
  }

  .footer__left {
    margin-bottom: 25px;
  }

  .footer__link {
    line-height: 1.2;
  }

  .block {
    display: block;
  }
}
